# Cache file for downloading system dependencies 
*cache.txt

# Log file from building docker images
log*.txt

# TERR Installer
*/TERR_Developer_5.0.0_linux24gl23_x86_64/TIB_terrde_5.0.0_linux24gl23_x86_64.tar
*/TERR_Developer_5.0.0_linux24gl23_x86_64/lib/
*/TERR_Developer_5.0.0_linux24gl23_x86_64/License.txt

# VSCode setting
.vscode*

# Temporary directory
temp/*
